.button-icon {
    border: 2px solid var(--purple);
    padding: .625rem;
    border-radius: 0.25rem;
    background: var(--white);
    text-decoration: none;
    display: inline-block;
}

.button-icon img{
    vertical-align: middle;
}